@model List<GRSCreativesDB.Models.Product>
@{
    ViewData["Title"] = "View";
}

<h1>Products</h1>

<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            Quantity
        </th>
    </tr>
    @foreach (Product product in Model)
    {
        <tr>
            <td>
                @product.ProductDescription
            </td>
            <td>
                @product.Quantity
            </td>
        </tr>
    }
</table>